<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="User" type="pojo.User"/>		
		<typeAlias alias="admin" type="pojo.Admin"/>
		<typeAlias alias="tb" type="pojo.TableImformation"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/webdata"/>
				<property name="username" value="root"/>
				<property name="password" value="575534"/>
			</dataSource>
		</environment>
	</environments>
	
	 <mappers>
		<mapper resource="dao/myinterface/UserDaoMapper.xml"/>
		
		<mapper resource="dao/myinterface/AdminDaoMapper.xml"/>
	</mappers> 
</configuration>